<%- include("partials/header"); -%>
<div class="top-container">
<div class="masla">
  <a class="blogg" href="/Blog">Thoughts</a>
</div>
<img class="top-cloud" src="images/cloud.png" alt="cloud">
<div class="title-text">
  <h1>I'm Arabi.</h1>
  <h2>a <span class="pro">pro</span>grammer.</h2>
</div>
<img class="bottom-cloud" src="images/cloud.png" alt="cloud">
<img class="mountain" src="images/mountain.png" alt="mountain-img">
</div>

<div class="middle-container">
  <div class="profile">
    <img src="images/Photo.png" class="photo" alt="arabi-profile-img">
    <h2>Hello.</h2>
    <p class="intro">I'm a Web Developer & Tech Enthusiast. <br>☕ Coffee Lover | 🏍️ Motorcycle Rider</br>.</p>
  </div>
  <hr>
  <div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">
      <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
      <lord-icon class="logo" src="https://cdn.lordicon.com/eszyyflr.json" trigger="hover" colors="primary:#91786E,secondary:#94B49F" state="hover-wave" style="width:150px;height:120px;top: 50px;">
      </lord-icon>
      <h3>Design & Development</h3>
      <p>I'm a passionate Web Developer with a growing focus on Python automation, Cybersecurity, and Google Cloud technologies. I began coding at 21 with the goal of building my own apps — and that drive still fuels everything I do. I’ve built cross-platform recipe apps using Flutter, explored backend scripting in Python, and completed hands-on learning in both cloud infrastructure and cybersecurity foundations. I combine creativity, logic, and curiosity to keep learning and building in today’s fast-moving tech world..</p>

    </div>
    <div class="skill-row">

      <h3>Motorcycles Riding</h3>
      <p>When I’m not coding, you’ll find me on two wheels. I’m an avid motorcycle rider — especially into cruiser and adventure touring styles. There’s nothing like hitting the open road with a full tank and no destination.</p>

    </div>
  </div>
  <hr>
  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3 class="lastp">If you love Motorcycles as much as I do.</h3>
    <p class="contact-message">Let's talk about how awesome they are and code !</p>
    <a class="btn" href="mailto:alarabim69@gmail.com">CONTACT ME</a>
  </div>
</div>

<%- include("partials/footer"); -%>
